(
    // All colorschemes should be here, as a list.
    // Keep in mind that EVERY scheme should have the same color names
    // and a valid hex code.
    // See: https://extended-ascii-viewer.herokuapp.com/
    colorschemes: [
        (
            name: "tango_dark",
            colors: {
                "Black":"#000000",
                "Shadow":"#3E3E3E",
                "Blue":"#3464a4",
                "BrightBlack":"#545753",
                "BrightBlue":"#719ecf",
                "BrightCyan":"#34e2e2",
                "BrightGreen":"#8ae234",
                "BrightMagenta":"#ad7ea7",
                "BrightRed":"#ef2828",
                "BrightWhite":"#ededec",
                "BrightYellow":"#fce94e",
                "Cyan":"#05989a",
                "Green":"#2F5609",
                "Magenta":"#74507a",
                "Red":"#cc0000",
                "White":"#d3d7cf",
                "Yellow":"#c4a000",
                "Background":"#000000",
            },
        ),

        (
            name: "wryan",
            colors: {
                "Black":"#333333",
                "Shadow":"#2F3241",
                "Blue":"#395573",
                "BrightBlack":"#474747",
                "BrightBlue":"#477ab3",
                "BrightCyan":"#6096bf",
                "BrightGreen":"#53a6a6",
                "BrightMagenta":"#7e62b3",
                "BrightRed":"#bf4d80",
                "BrightWhite":"#c0c0c0",
                "BrightYellow":"#9e9ecb",
                "Cyan":"#31658c",
                "Green":"#287373",
                "Magenta":"#5e468c",
                "Red":"#8c4665",
                "White":"#899ca1",
                "Yellow":"#7c7c99",
                "Background":"#101010"
            },
        ),
        (
            name: "elemental",
            colors: {
                "Black":"#3c3b30",
                "Shadow":"#3B3231",
                "Blue":"#497f7d",
                "BrightBlack":"#545444",
                "BrightBlue":"#78d8d8",
                "BrightCyan":"#58d598",
                "BrightGreen":"#60e06f",
                "BrightMagenta":"#cd7c53",
                "BrightRed":"#df502a",
                "BrightWhite":"#fff1e8",
                "BrightYellow":"#d69827",
                "Cyan":"#387f58",
                "Green":"#479942",
                "Magenta":"#7e4e2e",
                "Red":"#97280f",
                "White":"#807974",
                "Yellow":"#7f7110",
                "Background":"#21211c",
            },
        ),
        (
            name: "spacegray_80s",
            colors: {
                "Black":"#15171c",
                "Shadow":"#3E3E3E",
                "Blue":"#2F6BC0",
                "BrightBlack":"#545454",
                "BrightBlue":"#4d83d0",
                "BrightCyan":"#83e8e4",
                "BrightGreen":"#93d393",
                "BrightMagenta":"#ff55ff",
                "BrightRed":"#ff6973",
                "BrightWhite":"#ffffff",
                "BrightYellow":"#ffd156",
                "Cyan":"#57c2c0",
                "Green":"#80a763",
                "Magenta":"#bf83c0",
                "Red":"#ec5f67",
                "White":"#eeece7",
                "Yellow":"#fdc253",
                "Background":"#212121",
            },
        ),
    ],
)
