(
    // All colorschemes should be here, as a list.
    // Keep in mind that EVERY scheme should have the same color names as "default",
    // and a valid hex code.
    // See: https://extended-ascii-viewer.herokuapp.com/
    colorschemes: [
        (
            name: "elemental",
            colors: {
                "Black":"#3c3b30",
                "Shadow":"#181212",
                "Blue":"#497f7d",
                "BrightBlack":"#545444",
                "BrightBlue":"#78d8d8",
                "BrightCyan":"#58d598",
                "BrightGreen":"#60e06f",
                "BrightMagenta":"#cd7c53",
                "BrightRed":"#df502a",
                "BrightWhite":"#fff1e8",
                "BrightYellow":"#d69827",
                "Cyan":"#387f58",
                "Green":"#479942",
                "Magenta":"#7e4e2e",
                "Red":"#97280f",
                "White":"#807974",
                "Yellow":"#7f7110",
                "Background":"#21211c",
            },
        ),
        (
            name: "ayu",
            colors: {
                "Black":"#000000",
                "Shadow":"#181B28",
                "Blue":"#36a3d9",
                "BrightBlack":"#323232",
                "BrightBlue":"#68d4ff",
                "BrightCyan":"#c7fffc",
                "BrightGreen":"#e9fe83",
                "BrightMagenta":"#ffa3aa",
                "BrightRed":"#ff6565",
                "BrightWhite":"#ffffff",
                "BrightYellow":"#fff778",
                "Cyan":"#95e5cb",
                "Green":"#b8cc52",
                "Magenta":"#f07078",
                "Red":"#ff3333",
                "White":"#ffffff",
                "Yellow":"#e6c446",
                "Background":"#0e1419",
            },
        ),
    ],
)
