(
    // All colorschemes should be here, as a list.
    // Keep in mind that EVERY scheme should have the same color names as "default",
    // and a valid hex code.
    colorschemes: [
        (
            name: "default",
            colors: {
                "BLACK": "#0C0C0D",
                "SHADOW": "#232A4D",
                "SHALLOW_BLUE": "#277AA2",
                "DEEP_BLUE": "#135270",
                "WATER_BLUE": "#0069be",
                "WALL_GRAY": "#949494",
                "FLOOR_GRAY": "#333333",
                "FLOOR_WOOD": "#46230F",
                "DOOR_ORANGE": "#AF5124",
                "GRASS_GREEN": "#61be67",
                "GRASS_YELLOW": "#EEB448",
                "GRASS_GREEN_DARKER": "#3ea346",
                "TREE_GREEN": "#194F1D",
                "FLOWER_MAGENTA": "#c074ab",
                "BLOOD_RED": "#B9281E",
                "SELECTED_TARGET": "#424242",
                "UI_GRAY": "#666666",
                "UI_CYAN": "#157fa1",
                "MED_RED": "#BA3155",
                "SWORD_GRAY": "#5F7D8B",
                "CHEST_BROWN": "#653D26",
                "COMPUTER": "#6F3176",
            },
        ),
        (
            name: "test",
            colors: {
                "BLACK": "#0C0C0D",
                "SHADOW": "#2f4fff",
                "SHALLOW_BLUE": "#5fafff",
                "DEEP_BLUE": "#4d8bff",
                "WATER_BLUE": "#0069be",
                "WALL_GRAY": "#949494",
                "FLOOR_GRAY": "#333333",
                "FLOOR_WOOD": "#46230F",
                "DOOR_ORANGE": "#AF5124",
                "GRASS_GREEN": "#61be67",
                "GRASS_YELLOW": "#EEB448",
                "GRASS_GREEN_DARKER": "#3ea346",
                "TREE_GREEN": "#194F1D",
                "FLOWER_MAGENTA": "#A219D4",
                "BLOOD_RED": "#B9281E",
                "SELECTED_TARGET": "#424242",
                "UI_GRAY": "#666666",
                "UI_CYAN": "#157fa1",
                "MED_RED": "#BA3155",
                "SWORD_GRAY": "#5F7D8B",
                "CHEST_BROWN": "#653D26",
                "COMPUTER": "#6F3176",
            },
        ),
    ],
)
