#![enable(implicit_some)]
(
    items: [
        (
            name: "Med-Kit",
            renderable: (
                glyph: '!',
                fg: "Red",
                bg: "Background",
                layer: 0,
            ),
            consumable: (
                effects: { 
                    "heal": "5", 
                },
            ),
        ),
    ],
)
