#![enable(implicit_some)]
(
    items: [
        (
            name: "Med-Kit",
            descr: "A small package containing\ngeneral items for\nemergency first aid:\nbandages, medicinal herbs\nand assorted chemicals.",
            renderable: (
                glyph: '!',
                fg: "BrightRed",
                bg: "Background",
                layer: 0,
            ),
            consumable: (
                effects: { 
                    "heal": 5,
                },
            ),
        ),
        (
            name: "Tantou",
            descr: "A guardless short sword.",
            renderable: (
                glyph: '/',
                fg: "BrightCyan",
                bg: "Background",
                layer: 0,
            ),
            equipable: (
                slot: "weapon1",
            ),
            melee: (
                damage: 5,
            ),
        ),
    ],
    mobs: [
        (
            name: "Man-ape",
            descr: "Millenia living in the\nshadows of strange dark\nplaces took a toll on\nits body. Primal instincts\ngovern its actions yet\nagain; it may no longer be\ncalled a human, but a feral,\npale and ruby-eyed creature.",
            renderable: (
                glyph: 'm',
                fg: "Red",
                bg: "Background",
                layer: 1,
            ),
            fov_range: 20,
            blocker: true,
            stats: (
                hp: 7,
                max_hp: 7,
                attack: 5,
                defense: 3,
            ),
        ),
    ],
)
